* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/7889584.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}

.header_box {
    position: absolute;
    text-align: center;
    align-items: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
                0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.header_box .header_title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    height: 70px;
    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 0 70px;
    font-size: 25px;
    font-weight: 600;
} 
.info_box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.info_box .info_title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid rgb(134, 11, 11);
}

.info_box .buttons button {
    margin: 0 5px;
    right: 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border-radius: 9px;
    color: rgb(0, 0, 0);
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.buttons:active {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(1px);
  }